/*Overall CSS created from Udacity's Intro to HTML and CSS Class, Lesson 4: Bootstrap and Other Frameworks */

body {
	/*Using Lato from Google Fonts*/
	font-family: "Lato", sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

.text-muted {
	color: #7d97ad;
}

.text-thin {
	font-weight: 200;
}

.text-bold {
	font-weight: 900;
	font-size: 20px;
}

.title-super {
	font-size: 70px;
	font-weight: 400;
}

.title-logo {
	margin-top: 20px;
}

hr {
	/*Set horizontal rule thickness*/
	border: 2px solid #7d97ad;
}

h3 {
	/*Using given color scheme from mock-up and making the text larger */
	color: #2d3c49;
	font-weight: 600;
	font-size: 30px;
}

